.room-list {
  width: 50%;
  margin: 20px auto;
}

.room-list > li {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(70, 73, 78);
    font-size: 18px;
}

.room-list > li > a {
    color: rgba(225, 225, 225, 0.75);
    text-decoration: none;
}
